body {
    margin: 0 auto;
    background: #f0f0f0;
}

nav {
    right: 0;
    width: 100%;
    background: #ffffff;
}

#content {
    display: table;
}

section.unread-content {
    width: 410px;
    height: 500px;
}

section.read-content {
    width: 410px;
    height: 500px;
    padding: 20px
}

#status {
    display: table-cell;
    width: 200px;
}

#input-box {
    display: table;
}

#input-area {
    display: table-cell;
    height: 55px; 
    width: 800px; 
    margin: 0px; padding: 0px; border: 0px none rgb(0, 0, 0); 
    font-size: 14px; font-family: Tahoma, 宋体; word-wrap: break-word; line-height: 18px; overflow-y: auto; overflow-x: hidden; outline: none; 
}

#send-button {
    display: table-cell;
    width: 30px;
}

div.send-button-close {
    background-color: #00ffff;
}

div.send-button-open {
    background-color: #007777;
}

header, footer, nav, article {
    display: block;
    font-size: 12px; font-family: Tahoma, 宋体; word-wrap: break-word; line-height: 18px; overflow-y: auto; overflow-x: hidden; outline: none; 
}

a.button {
    padding:10px 10px 10px 10px; 
    position: relative; 
    bottom: 20px;
}

/*Style for individual conversations*/
article.style {
    
    
}

i.vline {
    margin:0 8px;
}

