body {
    margin: 4px auto;
    background: #f0f0f0;
    font-size: 12px; font-family: Tahoma, 宋体; word-wrap: break-word; line-height: 18px; overflow-y: auto; overflow-x: hidden; outline: none; 
}

h2 {
    padding:0px;
    margin: 0px 0px 0px 0px;
    font-size: 14px; font-family: Tahoma, 宋体; word-wrap: break-word; line-height: 18px; overflow-y: auto; overflow-x: hidden; outline: none; 
}

nav {
    position: absolute
    right: 0px;
    width: 100%;
    background: #ffffff;
    font-size: 12px; font-family: Tahoma, 宋体; word-wrap: break-word; line-height: 18px; overflow-y: auto; overflow-x: hidden; outline: none; 
}

#content {
    display: table;
}

section.unread-content {
    width: 410px;
    height: 500px;
    padding: 5px;
}

section.read-content {
    width: 410px;
    height: 500px;
    padding: 5px;
}

#status {
    display: table-cell;
    width: 200px;
}

#input-box {
    display: table;
}

#input-area {
    display: table-cell;
    height: 55px; 
    width: 800px; 
    margin: 0px; padding: 0px; border: 0px none rgb(0, 0, 0); 
    font-size: 14px; font-family: Tahoma, 宋体; word-wrap: break-word; line-height: 18px; overflow-y: auto; overflow-x: hidden; outline: none; 
}

#send-button {
    display: table-cell;
    width: 30px;
}

div.send-button-close {
    background-color: #00ffff;
}

div.send-button-open {
    background-color: #007777;
}

header, footer, article{
    display: block;
    list-style-type:none;
}

a.button {
    padding:10px 10px 10px 10px; 
    position: relative; 
    bottom: 20px;
}

ul {
display: inline;
list-style-type: none;
padding-right: 20px;
}

/*Style for individual conversations*/
article.style {
    
    
}

i.vline {
    margin:0 8px;
}

